button {
  border-radius: 5px;
  width: 150px;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  color: white;
  background-color: #22262a;
  border: 0px;
}

button:hover {
  background-color: #13161a;
  color: white;
}

.button-undefined-outlined {
  box-shadow: inset 0px 0px 0px 2px #13161a;
  background-color: white;
  color: black;
}

.button-undefined-faded {
  background-color: #22262a10;
  color: black;
}

.button-primary {
  background-color: #33a0ff;
}

.button-primary:hover {
  background-color: #2e90e5;
}

.button-primary-outlined {
  box-shadow: inset 0px 0px 0px 2px #2e90e5;
  background-color: white;
  color: #2e90e5;
}

.button-primary-faded {
  background-color: #2e90e530;
  color: #2e90e5;
}

.button-success {
  background-color: #0ad00a;
}

.button-success:hover {
  background-color: #07c107;
}

.button-success-outlined {
  box-shadow: inset 0px 0px 0px 2px #0ad00a;
  background-color: white;
  color: #0ad00a;
}

.button-success-faded {
  background-color: #0ad00a30;
  color: #0ad00a;
}

.button-danger {
  background-color: #ff4252;
}

.button-danger:hover {
  background-color: #f53848;
}

.button-danger-outlined {
  box-shadow: inset 0px 0px 0px 2px #f53848;
  background-color: white;
  color: #f53848;
}

.button-danger-faded {
  background-color: #f5384830;
  color: #f53848;
}

.button-warning {
  background-color: #ffc600;
}

.button-warning:hover {
  background-color: #ebb600;
}

.button-warning-outlined {
  box-shadow: inset 0px 0px 0px 2px #ebb600;
  background-color: white;
  color: #ebb600;
}

.button-warning-faded {
  background-color: #ebb60030;
  color: #ebb600;
}

.button-large {
  font-size: 15px;
  width: 220px;
}

/* #opacity 10% for clicked backgrounds */
