.IconButton {
  border-radius: 5px;
  width: 125px;
  font-size: 9px;
  border: 0px;
  background-color: #2e90e530;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
}

.Icon {
  height: 13px;
  width: 13px;
  margin-right: 10px;
  margin-bottom: -2px;
}

.Text {
  color: #1d8ced;
}
