.IconButton {
  border-radius: 5px;
  font-size: 9px;
  border: 0px;
  background-color: #2e90e530;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
}

.Icon {
  height: 12px;
  width: 13px;
  margin-left: 5px;
  margin-bottom: -2px;
  margin-right: 6px;
}

.Text {
  color: #1d8ced;
  width: 100%;
  display: inline-table;
  margin-right: 1px;
  margin-left: 0px;
}

.IconButton:hover {
  -webkit-filter: invert(30%);
  filter: invert(30%);
}
