.IconButton {
  border-radius: 5px;
  border: 0px;
  background-color: #2e90e525;
  display: inline-flex;
  justify-content: center;
  padding: 8px 12px 8px 12px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.25px;
}

.Icon {
  height: 12px;
  width: 13px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.Add.to.Cart,
.Add.to.Favorites {
  color: #2195fa;
  display: inline-table;
  margin-right: 2.5px;
  margin-left: 10px;
  margin-top: 2.5px;
  font-size: 11px;
}

.IconButton:hover {
  -webkit-filter: invert(30%);
  filter: invert(30%);
}
