.Container {
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
}

.container-vertical {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.091);
  width: 250px;
}

.container-horizontal {
  background-color: red;
}

.container-small {
  background-color: #33a0ff;
}

.container-inline {
  background-color: #33a0ff;
}

.Product {
  width: 90%;
  opacity: 1;
}

.Product:hover {
  opacity: 0.1;
}

.Thumbnail:hover > .Icons {
  display: block;
}

.Icons {
  margin-top: 45px;
  position: absolute;
  display: none;
}

.Icon1 {
  margin: 5px 5px 5px 15px;
  padding: 10px;
}

.Icon2 {
  margin: 5px 15px 5px 5px;

  padding: 10px;
}

.Thumbnail {
  display: flex;
  justify-content: center;
}
.Line {
  height: 1px;
  width: 225px;
  border: 0.25px solid rgba(128, 128, 128, 0.1);
  margin: 13px 0 10px 0;
}

.Prices {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.Cost {
  color: red;
  margin: 10px;
}

.Text {
  color: black;
  font-size: 13px;
}

.RatingBox {
  margin-top: 15px;
}

.Oldcost {
  text-decoration: line-through;
  color: rgb(171, 171, 171);
  margin: 10px;
}
